/* index.css - Keep it minimal */

@import url('@fortawesome/fontawesome-free/css/all.min.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: blue; */
}


body{
  background: linear-gradient(to bottom, #1a202c, #2d3748);
  font-family: 'Poppins', sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}